/* ALL */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#797373;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 600;
    color:black;
}

/* UTILITIES */
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}

/* MACROAREA */
body{
    margin: 10px 0;
}

/* GENERAL CONTAINER */
.container{
    width: 1170px;
    margin:auto;
}

/* HEADER */
header{
    margin-bottom: 20px;
}

header .logo img{
    width: 150px;
    margin-bottom:30px;
}

header ul li{
    list-style: none;
    text-transform: uppercase;
    display:inline-block;
    margin-right:10px;
}

header ul li a{
    text-decoration: none;
}

header ul li a:hover{
    color:black;
}

/* MAIN */
/* PICTURE SECTION */
.picture-section{
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #e1d67a;
}

/* CONTENT SECTION */
.content-section{
    margin-bottom: 10px;
    background-color: #3386ff;
}

.content-head{
    min-height: 75px;
    margin-bottom: 20px;
    background-color: #accfe6;
}

/* CONTENT LAYOUT */

.content-left,
.content-right{
    width:20%;
    min-height: 460px;
    float:left;
    margin-bottom: 20px;
    background-color: #accfe6;
}

.content-centre{
    width: calc(100% - 20% - 20% - 15px - 15px);
    min-height: 460px;
    float:left;
    margin:0 15px 20px;
    background-color: #accfe6;
}

/* FOOTER */
footer{
    min-height: 55px;
    margin-bottom: 20px;
    background-color: #8801fe;
}

